<app-nav-bar></app-nav-bar>
<div>

   <router-outlet> </router-outlet>
  <!-- <app-login></app-login> -->
  <!-- <app-admin-homepage></app-admin-homepage> -->
  <!-- <app-survey-list></app-survey-list> -->
  <!-- <app-user-survey-list></app-user-survey-list> -->
  <!-- <app-user-list></app-user-list> -->
  <!-- <app-add-user></app-add-user> -->
  <!-- <app-edit-user></app-edit-user> -->
  <!-- <app-create-survey></app-create-survey> -->
  <!-- <app-edit-survey></app-edit-survey> -->
  <!-- <app-user-take-survey></app-user-take-survey> -->
  <!-- <app-view-results></app-view-results> -->
</div>

